/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('../images/Bg.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  color:azure;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* Header */
.header {
  color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation */
.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-list a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #4CAF50;
}

.mobile-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Main Content */
.main {
  flex: 1;
  padding: 3rem 0;
}

.main h1 {
  margin-bottom: 1rem;

}

.main .container{
  max-width:800px;
  margin: 0 auto;

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;  
}

.search_box{
  width:100%;
  max-width:800px;

  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:4px;

  
  border:none;
}

#city_input {
  max-width:480px;
  font-size:24px;
  border:none;

  padding:16px 24px;
  border-radius:12px;
}

#city_input::placeholder{
  color:#9D9D9D;
}

#city_input:focus{
  outline:none;
  border:none;
}

button {
  padding:16px 16px;
  font-size:24px;
  
  border-radius: 12px;
  border:none;
  color: #fff;
  background-color: #43ACFF;
}

.weather_card{
  width:100%;
  margin-top:20px;
  padding:20px;
  background-color:rgba(3,24,22,0.2);
  backdrop-filter:blur(20px);
  border-radius:15px;
  border:1px ;
  max-width:210px;
}





/* Footer */
.footer {
  color: white;
  padding: 2rem 0;
  text-align: center;
  margin-top: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-list.active {
    display: flex;
  }

  .mobile-toggle {
    display: block;
  }

  .header .container {
    flex-wrap: wrap;
  }

  .nav {
    width: 100%;
    order: 3;
    position: relative;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.25rem;
  }

  .main {
    padding: 2rem 0;
  }
}